* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}

:root {
  /* Primary */

  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* Neutral */

  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.main-container {
  width: auto;
  height: auto;
  background: var(--white);
  display: flex;
  align-items: center;
}

/* MAIN */

.container {
  min-width: 360px;
  width: 360px;
  margin: auto;
}

.main-info {
  text-align: center;
  margin-top: 5.33rem;
}

.main-info__tittle {
  margin-bottom: 1.33rem;
  font-size: 2.2rem;
  color: var(--very-dark-magenta);
}

.main-info__text {
  margin-bottom: 2.66rem;
  font-size: 1.07rem;
  color: var(--dark-grayish-magenta);
  line-height: 2rem;
}

.rated {
  text-align: center;
}

.rated__box {
  background: var(--light-grayish-magenta);
  width: 100%;
  height: 5rem;
  margin: 1rem 0;
  border-radius: 0.5em;
}

.rated__box-stars {
  margin: 0.5em;
  display: inline-block;
}

.rated__box-comment {
  margin-top: 0.5rem;
  color: var(--very-dark-magenta);
}

.buyers__card {
  background: var(--very-dark-magenta);
  margin: 1rem 0;
  padding: 2.3rem;
  border-radius: 0.5em;
}

.buyers__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.buyers__info-photo {
  border-radius: 100%;
  width: 3.2rem;
}

.buyers__info-text {
  margin-left: 1.5rem;
  line-height: 1.5rem;
}

.buyers__info-text-name {
  color: #fff;
}

.buyers__info-text-state {
  color: var(--soft-pink);
}

.buyers__reviews {
  color: #fff;
  font-weight: 500;
  line-height: 1.9rem;
}

/* FOOTER */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 730px) {
  .container {
    min-width: 720px;
  }

  .info-container {
    display: flex;
    flex-direction: row;
  }

  .main-info {
    width: 90%;
    margin-right: 1.33rem;
    text-align: left;
    align-self: center;
  }

  .rated {
    width: 100%;
    margin: 1.33rem;
    margin-top: 5.33rem;
    display: flex;
    flex-direction: column;
  }

  .rated__box {
    width: 20rem;
  }

  .rated__box:nth-child(2) {
    align-self: center;
  }

  .rated__box:nth-child(3) {
    align-self: flex-end;
  }

  .buyers {
    display: flex;
    flex-direction: column;
  }

  .buyers__card {
    width: 30rem;
  }

  .buyers__card:nth-child(2) {
    align-self: center;
  }

  .buyers__card:nth-child(3) {
    align-self: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }

  .main-info {
    width: 70%;
  }

  .main-info__tittle {
    font-size: 2.8rem;
    width: 80%;
    align-self: unset;
  }

  .rated__box {
    width: 30rem;
  }

  .rated__box-stars,
  .rated__box-comment {
    display: inline-block;
    line-height: 4.9rem;
  }

  .rated__box:nth-child(1) {
    align-self: flex-end;
    margin-right: 12rem;
  }

  .rated__box:nth-child(2) {
    align-self: flex-end;
    margin-right: 6rem;
  }

  .rated__box:nth-child(3) {
    align-self: flex-end;
    margin-right: 0;
  }

  .buyers {
    flex-direction: row;
  }

  .buyers__card {
    width: 25rem;
    height: max-content;
  }

  .buyers__card:nth-child(2) {
    margin: 0 2rem;
  }

  .buyers__card:nth-child(3) {
    margin-top: 3.5rem;
  }
}
